DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASS=rootpassword
DB_NAME=ocean_express_db
REDIS_ADDR=localhost:6379

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
